node_modules/
dist/
build/

.env
.env.local
frontend/.env
frontend/.env.local
backend/.env

*.log
.DS_Store
.vscode/

# .NET ignore
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
backend/appsettings.Development.json
backend/appsettings.Local.json

# Flutter ignore
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.apk
